@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8;
  color: #8f989f;
  height: 100%;
  position: relative;
  background: #F4F7F7;
}
#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #fff;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #F1E2FF;
  outline: none;
}

p {
  margin-bottom: 1.5em;
  font-size: 16px;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  margin: 0 0 30px 0;
}

::-webkit-selection {
  color: #fff;
  background: #00ADB5;
}

::-moz-selection {
  color: #fff;
  background: #00ADB5;
}

::selection {
  color: #fff;
  background: #00ADB5;
}

#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
}
#fh5co-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#fh5co-header #navbar .navbar-right {
  margin-right: 0;
  text-align: center;
  padding: 0;
}
#fh5co-header #navbar li a {
  font-family: "Roboto Mono", monospace;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 16px;
  }
}
#fh5co-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -27px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}
#fh5co-header #navbar li a:hover {
  color: #000;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a {
    color: #53346D;
  }
}
#fh5co-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #53346D;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a span:before {
    background-color: transparent;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar li.active a {
    background: transparent;
    background: none;
  }
}
@media screen and (max-width: 992px) and (max-width: 480px) {
  #fh5co-header #navbar li.active a {
    color: #53346D;
  }
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar li.active a span {
    display: inline-block;
    color: #53346D;
  }
  #fh5co-header #navbar li.active a span:before {
    bottom: 0;
    height: 0;
    background: transparent;
  }
}
#fh5co-header #navbar li.call-to-action {
  margin-left: 5px;
}
#fh5co-header #navbar li.call-to-action a {
  padding: 5px 10px 3px 10px;
  margin: 12px 0 0 0px;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header #navbar li.call-to-action a:hover {
  background-color: #53346D;
  color: #fff;
}
#fh5co-header #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#fh5co-header #navbar li.call-to-action a.sign-up {
  border: 2px solid #00ADB5;
  background: #00ADB5;
}
#fh5co-header #navbar li.call-to-action a.sign-up:hover {
  background: #00ADB5;
  color: #fff;
}
#fh5co-header #navbar li.call-to-action a.log-in {
  border: 2px solid #53346D;
  background: #53346D;
}
#fh5co-header #navbar li.call-to-action a.log-in:hover {
  background: #53346D;
  color: #fff;
}
#fh5co-header .navbar-brand {
  float: left;
  display: block;
  font-size: 24px;
  font-weight: bold;
  padding-left: 0;
  letter-spacing: 3px;
  color: #000;
}
@media screen and (max-width: 992px) {
  #fh5co-header .navbar-brand {
    margin-left: 20px;
    padding-right: 0 !important;
  }
}
#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#fh5co-header.navbar-fixed-top #navbar li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
  color: #53346D;
}
@media screen and (max-width: 992px) {
  #fh5co-header.navbar-fixed-top #navbar li a {
    font-size: 16px;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  color: #53346D !important;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #53346D !important;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #53346D;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    background-color: transparent;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a {
  border: 2px solid #53346D;
  padding: 5px 10px 3px 10px;
  margin: 12px 0 0 0px;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a:hover {
  background-color: #53346D;
  color: #fff !important;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a.sign-up {
  border: 2px solid #00ADB5;
  background: #00ADB5;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a.sign-up:hover {
  background: #00ADB5;
  color: #fff;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a.log-in {
  border: 2px solid #53346D;
  background: #53346D;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a.log-in:hover {
  background: #53346D;
  color: #fff;
}
#fh5co-header .navbar-default {
  border: transparent;
  background: #fff;
  margin: 0;
  padding: 10px 70px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
	opacity: 0.9;
}
@media screen and (max-width: 768px) {
  #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

#fh5co-home {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-color: #e6e6e6;
  color: #000;
	height: 100vh;
	min-height: 600px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: 100% auto;
}
#fh5co-home .text-wrap {
	z-index:3;
	max-width:100%;
	width: 450px;
	margin-top:30px;
}
#fh5co-home .text-wrap h1 {
	color: #000;
	z-index: 3;
	font-size: 72px;
	width: 100%;
	text-align: center;
	line-height: 1.1em;
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 0.2em;
	text-shadow: 0 0 20px #fefcc9, -21px 15px 30px #FEC9E7, -20px -20px 80px #FF7719, -10px -10px 25px #E4FF00, 8px -4px 4px #6200FF;
}
span.cap {
	z-index:3;
	color: #000;
}
span {
	z-index: 4;
}
#fh5co-home a {
  color: rgba(255, 255, 255, 0.8) !important;
  text-decoration: underline;
}
#fh5co-home a:hover {
  color: #fff;
  text-decoration: none;
}
#fh5co-home .gradient {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
	background: #7b4397; /* fallback for old browsers */
	background: -webkit-radial-gradient(#46025D , #ED00BC, #00FFD9); /* Chrome 10-25, Safari 5.1-6 */
	background: radial-gradient(#46025D , #ED00BC, #00FFD9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media screen and (max-width: 768px) {
	#fh5co-home .text-wrap {
		max-width: 320px;
	}
	#fh5co-home h1 span {
		letter-spacing: 0;
		font-size: 60px;
	}
  #fh5co-home h1 {
    font-size: 60px;
		line-height: 1.2em;
		letter-spacing: -0.01em;
    text-shadow: 0 0 20px #fefcc9, 67px -47px 30px #FEC9E7, -20px -20px 80px #FF7719, -10px -10px 25px #E4FF00, 0 -82px 80px #00D0FF, 10px -90px 80px #E851FA;
  }
	#fh5co-home .cap {
		font-size: 70px;
	}
}
#fh5co-home h1 span {
  text-transform: uppercase;
}
#fh5co-home h1 .big {
  font-size: 120px;
  text-transform: none;
  letter-spacing: .1em;
	animation-iteration-count:infinite;
  line-height: 1.2em;
}
@media screen and (max-width: 768px) {
  #fh5co-home h1 .big {
    font-size: 30px;
  }
}
#fh5co-home .text-inner h1 .medium {
  font-size: 40px;
  text-transform: none;
  letter-spacing: .1em;
}
@media screen and (max-width: 768px) {
  #fh5co-home .text-inner h1 .medium {
    font-size: 30px;
  }
}
#fh5co-home .text-inner h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 0 60px 0;
}
#fh5co-home .call-to-action {
  display: block;
  width: 100%;
	padding-top: 30px;
}
#fh5co-home .call-to-action a {
  width: 200px;
  display: inline-block;
  font-size: 20px;
  padding: 15px 0;
  margin-right: 10px;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -ms-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -o-box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.19);
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  border-radius: 100px;
  border: none;
}
#fh5co-home .call-to-action a i {
  margin-right: 5px;
  margin-top: 5px;
  font-size: 18px;
}
#fh5co-home .call-to-action a.demo {
  border: 2px solid #53346D;
  background: #53346D;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  #fh5co-home .call-to-action a.demo {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
#fh5co-home .call-to-action a.download {
	border: 2px solid #FFFFFF;
	background: #000000;
  text-decoration: none !important;
}
@media screen and (max-width: 768px) {
  #fh5co-home .call-to-action a.download {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

#fh5co-services,
#fh5co-testimony,
#fh5co-explore,
#fh5co-work,
#fh5co-counters,
#fh5co-pricing,
#fh5co-blog,
#fh5co-events {
  padding: 8em 0;
}

#fh5co-mail {
	padding: 3em;
}
@media screen and (max-width: 768px) {
  #fh5co-services,
  #fh5co-testimony,
  #fh5co-explore,
  #fh5co-work,
  #fh5co-counters,
  #fh5co-pricing,
  #fh5co-blog,
	#fh5co-events {
    padding: 3em 0;
  }
}
#fh5co-events, #fh5co-mail {
  background: #480482;
}
#fh5co-events .section-heading h2 {
	color: #fff;
}

#fh5co-events table thead {
	color: #fff;
	font-weight: bold;
}

#fh5co-events table tbody {
	color: #fff;
}

#passed-events {
	margin-top: 2em;
}

.table > thead > tr > th {
	border-bottom: 2px solid #fff;
}
.table-hover > tbody > tr:hover {
	background-color: rgba(0,0,0,0.2);
}

#fh5co-services {
  padding-bottom: 0;
}

#fh5co-explore {
  padding-bottom: 40px;
	background: #111; /* fallback for old browsers */
}

#fh5co-explore h2 {
	color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #53346D, 0 0 30px #53346D, 0 0 40px #53346D, 0 0 55px #53346D, 0 0 75px #53346D;
}

.fh5co-portfolio {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.fh5co-portfolio iframe {
	border: 10px dotted #A655C0 !important;
	box-shadow: 0px 5px 20px #f2f, 0px 20px 50px #003E91;
}
.fh5co-portfolio > a {
  width: 100%;
  float: left;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}
.fh5co-portfolio > a:hover {
  webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}
.fh5co-portfolio > a:hover .desc {
  opacity: 1;
}
.fh5co-portfolio .portfolio-entry {
	width: 100%;
	float: left;
	background-size: cover;
	background-position: center center;
	background-repeat: repeat;
	position: relative;
	height: 300px;
	border: 24px #fff;
	border-style: dotted;
	animation: all 2s;
}
@media screen and (max-width: 768px) {
  .fh5co-portfolio .portfolio-entry {
    height: 400px;
  }
}
.fh5co-portfolio .portfolio-entry .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.75);
  opacity: 0;
  padding: 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-portfolio .portfolio-entry .desc p {
  color: #000;
}
.fh5co-portfolio .portfolio-text {
	width: 100%;
	float: left;
	padding: 20px;
	background: #FFF;
}
.fh5co-portfolio .portfolio-text h3 {
  font-size: 20px;
	color: rgb(194, 171, 203);
}
.fh5co-portfolio .portfolio-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgb(138, 112, 149);
  padding-top: 20px;
}
.fh5co-portfolio .portfolio-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  color: rgb(138, 112, 149);
  font-size: 16px;
}
.fh5co-portfolio .portfolio-text .stuff li:first-child {
  margin-left: 0;
}
.fh5co-portfolio .portfolio-text .stuff li i {
  font-size: 14px;
  padding-right: 5px;
}

.fh5co-bg-color {
  background: #F4F7F7;
}

.testimony-entry {
  margin-bottom: 50px;
}
.testimony-entry .feed-bubble {
  padding: 30px;
  margin-bottom: 20px;
  background: #53346D;
  position: relative;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
.testimony-entry .feed-bubble:after {
  position: absolute;
  bottom: -10px;
  left: 30px;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #53346D transparent transparent transparent;
}
.testimony-entry .feed-bubble p {
  color: #fff;
}
.testimony-entry .author-img {
  width: 75px;
  height: 75px;
  background-size: cover;
  background-position: center center;
  position: relative;
  float: left;
  margin-right: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.testimony-entry .user {
  font-size: 18px;
  color: #000;
}
.testimony-entry .user small {
  font-size: 14px;
  color: #8f989f !important;
}

.fh5co-blog .blog {
  margin-bottom: 40px;
}
.fh5co-blog .entry {
  width: 100%;
  text-decoration: none;
}
.fh5co-blog .entry .desc-grid h3 {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 20px;
}
.fh5co-blog .entry .blog-bg {
  height: 350px;
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 20px;
}
.fh5co-blog .entry .blog-bg .date {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  z-index: 2;
  text-align: center;
  padding: 5px 10px;
  background: #53346D;
}
.fh5co-blog .entry .blog-bg .date span, .fh5co-blog .entry .blog-bg .date small {
  display: block;
  color: #fff;
}
.fh5co-blog .entry .blog-bg .date span {
  font-size: 20px;
}
.fh5co-blog .entry .blog-bg .date small {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.fh5co-blog .entry .blog-bg .desc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.95);
  padding: 40px 60px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-blog .entry .blog-bg .desc p {
  color: #8f989f;
}
.fh5co-blog .entry:hover .desc {
  opacity: 1;
}

.pricing__item {
  margin: 1.5em 0;
  padding: 3em 2em 2em 2em;
  cursor: default;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.pricing__item:hover {
  color: #333;
  background: rgba(62, 196, 131, 0.4);
  webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}

.pricing__item:nth-child(2) {
  border-right: none;
  border-left: none;
}

.pricing__title {
  width: 100%;
  margin: 0 0 2em 0;
  padding: 0;
}

.pricing__price {
  font-weight: bold;
  line-height: 95px;
  width: 100px;
  height: 100px;
  margin: 1.15em auto 1em;
  background: #53346D;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.pricing__item:hover .pricing__price {
  color: #fff;
  background: #53346D;
}

.pricing__feature-list {
  margin: 0;
  padding: 1em 1em 2em 1em;
  list-style: none;
  text-align: center;
}
.pricing__feature-list li {
  font-size: 16px;
  line-height: 36px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  display: block;
}

.pricing__action {
  font-weight: bold;
  margin-top: auto;
  padding: 0.75em 2em;
  opacity: 0;
  color: #fff;
  background: #82C57E;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}

.pricing__item:hover .pricing__action {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pricing__action:hover,
.pricing__action:focus {
  background: #6EA76B;
}

.fh5co-services {
  padding-bottom: 4em;
}
.fh5co-services .box-services {
  position: relative;
  margin: 0 30px 70px 20px;
}
.fh5co-services .box-services .icon {
  margin-bottom: 20px;
}
.fh5co-services .box-services .icon span {
  width: 130px;
  height: 130px;
  display: inline-block;
  position: relative;
  background: #53346D;
  display: table;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-services .box-services .icon span i {
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 30px;
  height: 130px;
  color: #fff;
}
.fh5co-services .fh5co-post h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.call-to-action .btn-learn {
  padding: 12px 30px;
  background: #00dee8;
  color: #fff;
}

.fh5co-counters {
  padding: 3em 0;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.fh5co-counters .counter-wrap {
  border: 1px solid red !important;
}
.fh5co-counters .fh5co-counter {
  font-size: 30px;
  display: block;
	color: #fff;
text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #53346D, 0 0 30px #53346D, 0 0 40px #53346D, 0 0 55px #53346D, 0 0 75px #53346D;
  font-family: "Roboto Mono", monospace;
  width: 100%;
  font-weight: 700;
  margin-bottom: .3em;
}
.fh5co-counters .fh5co-counter-label {
  font-size: 16px;
  margin-bottom: 2em;
  display: block;
}

.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
.section-heading h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  padding-bottom: 10px;
  line-height: 1.5;
  letter-spacing: .1em;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 28px;
  }
}
.section-heading h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #8f989f;
  position: relative;
  display: block;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 16px !important;
    line-height: 28px;
  }
}

#fh5co-footer {
  background: #000;
  font-size: 11px;
  padding: 3em;
}
#fh5co-footer a {
  color: rgba(255, 255, 255, 0.8);
}

#fh5co-mail {
  padding: 10em 0;
  background: #000;
  color: rgba(255, 255, 255, 0.6);
}
#fh5co-mail a {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-mail a:hover {
  color: #fff !important;
  text-decoration: underline;
}
#fh5co-mail .section-title {
  font-size: 22px;
  color: #fff;
  position: relative;
  padding-bottom: 20px;
}
#fh5co-mail .copy-right {
  position: relative;
  padding-top: 20px;
  margin-top: 40px;
}
#fh5co-mail .copy-right > a {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-mail .contact-info {
  margin: 0 0 60px 0;
  padding: 0;
}
#fh5co-mail .contact-info li {
  font-size: 16px;
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
}
#fh5co-mail .contact-info li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  color: #fff;
}
#fh5co-mail .copyright {
  padding-top: 5em;
}
#fh5co-mail .copyright .block {
  display: block;
}
#fh5co-mail .social-media {
  margin: 0 0 30px 0;
  padding: 0;
}
#fh5co-mail .social-media li {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 24px;
  margin-right: 10px;
}
#fh5co-mail .social-media li a {
  color: #53346D;
}
#fh5co-mail .social-media li a:hover, #fh5co-mail .social-media li a:focus, #fh5co-mail .social-media li a:active {
  text-decoration: none;
}
#fh5co-mail .social-media li a i {
  font-size: 22px;
	color: #fff;
}
#fh5co-mail .contact-form .form-group input[type="name"],
#fh5co-mail .contact-form .form-group input[type="text"],
#fh5co-mail .contact-form .form-group input[type="email"],
#fh5co-mail .contact-form .form-group textarea {
  font-size: 16px;
}
#fh5co-mail .contact-form .form-group input[type="name"]::-webkit-input-placeholder,
#fh5co-mail .contact-form .form-group input[type="text"]::-webkit-input-placeholder,
#fh5co-mail .contact-form .form-group input[type="email"]::-webkit-input-placeholder,
#fh5co-mail .contact-form .form-group textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-mail .contact-form .form-group input[type="name"]:-moz-placeholder,
#fh5co-mail .contact-form .form-group input[type="text"]:-moz-placeholder,
#fh5co-mail .contact-form .form-group input[type="email"]:-moz-placeholder,
#fh5co-mail .contact-form .form-group textarea:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-mail .contact-form .form-group input[type="name"]::-moz-placeholder,
#fh5co-mail .contact-form .form-group input[type="text"]::-moz-placeholder,
#fh5co-mail .contact-form .form-group input[type="email"]::-moz-placeholder,
#fh5co-mail .contact-form .form-group textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-mail .contact-form .form-group input[type="name"]:-ms-input-placeholder,
#fh5co-mail .contact-form .form-group input[type="text"]:-ms-input-placeholder,
#fh5co-mail .contact-form .form-group input[type="email"]:-ms-input-placeholder,
#fh5co-mail .contact-form .form-group textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#fh5co-mail .contact-form .form-group input {
  color: #fff;
  background: transparent;
  border: none;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: none;
}
#fh5co-mail .contact-form .form-group textarea {
  color: #fff;
  background: transparent;
  border: none;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: none;
}
#fh5co-mail #btn-submit {
  color: rgba(255, 255, 255, 0.9) !important;
  background: #53346D !important;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #53346D;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #535659;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #535659;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #535659;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 2px;
  right: 15px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
  width:100%;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 18px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #53346D;
  color: #fff;
  border: 2px solid #53346D;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #52ca90 !important;
  border-color: #52ca90 !important;
}
.btn-primary.btn-outline {
  background: transparent;
  color: #53346D;
  border: 2px solid #53346D;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #53346D;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #53346D;
  color: #fff;
}
.social li a.social-circle {
  background: #53346D;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #53346D;
  color: #fff;
}
.social.social-circle a {
  background: #53346D;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

.finish {
	margin-top: 40px;
}

@keyframes border-animation
{
	0% {
	    border-color: #C62AC1;
	}
	50% {
	    border-color: #24D9D5;
	}
	100% {
	    border-color: #F6AF86;
	}
}
/*@media screen and (min-width: 769px) {
	@keyframes animation
	{
		0% {
			text-shadow: -60px 0 50px #FF2E2E, 10px -10px 90px #CA175C, -40px -40px 40px #FFFFFF, 40px -40px 50px #78FFF7, -40px -60px 60px #AD06CD, 0 -80px 70px #971683, 10px -20px 100px #F8FF34;
		}

		100% {
		    text-shadow: 0 0 20px #fefcc9, 67px -47px 30px #FEC9E7, -20px -20px 80px #FF7719, -100px -42px 50px #E4FF00, -22px -58px 50px #EC0C99, 0 -82px 80px #795BFF, 10px -90px 80px #E851FA;
				color: #000;
		}
	}
}*/
@media screen and (max-width: 768px) {
	@keyframes animation
	{
		0% {
		    /*text-shadow: -20px -20px 50px #FF7719, 10px -90px 58px #6BFA51;*/
		}
		100% {
		    /*text-shadow: -26px -20px 50px #FF19ED, 10px -90px 58px #FFFFFF;*/
		}
	}
}
/*@-moz-keyframes animation
{
	0% {
	    text-shadow: 0 0 20px #FFC8FD, 10px -10px 30px #CA175C, -20px -20px 40px #FFFFFF, 20px -40px 50px #AE80D1, -20px -60px 60px #CD069F, 0 -80px 70px #971683, 10px -90px 80px #81FF33;
	}

	100% {
	    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #FEC9E7, -20px -20px 40px #C885FE, 22px -42px 60px #E4FF00, -22px -58px 50px #EC0C99, 0 -82px 80px #795BFF, 10px -90px 80px #E851FA;
	}
}

@-webkit-keyframes animation
{
	0% {
	    text-shadow: 0 0 20px #FFC8FD, 10px -10px 30px #CA175C, -20px -20px 40px #FFFFFF, 20px -40px 50px #AE80D1, -20px -60px 60px #CD069F, 0 -80px 70px #971683, 10px -90px 80px #81FF33;
	}

	100% {
	    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #FEC9E7, -20px -20px 40px #C885FE, 22px -42px 60px #E4FF00, -22px -58px 50px #EC0C99, 0 -82px 80px #795BFF, 10px -90px 80px #E851FA;
	}
}

@-o-keyframes animation
{
	0% {
	    text-shadow: 0 0 20px #FFC8FD, 10px -10px 30px #CA175C, -20px -20px 40px #FFFFFF, 20px -40px 50px #AE80D1, -20px -60px 60px #CD069F, 0 -80px 70px #971683, 10px -90px 80px #81FF33;
	}

	100% {
	    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #FEC9E7, -20px -20px 40px #C885FE, 22px -42px 60px #E4FF00, -22px -58px 50px #EC0C99, 0 -82px 80px #795BFF, 10px -90px 80px #E851FA;
	}
}*/

.box-with-text {
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font: 800 13vmax/1 'Permanent Marker', cursive;
	display: flex;
	align-items: center;
	justify-content: center;
  /* Hack to hide thin transparent lines while resize objects */ }
  .box-with-text:before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0vmax 0vmax 10vmax 10vmax purple, 15vmax 0vmax 10vmax 10vmax violet, 30vmax 0vmax 10vmax 10vmax teal, 45vmax 0vmax 10vmax 10vmax orangered, 60vmax 0vmax 10vmax 10vmax yellow, 75vmax 0vmax 10vmax 10vmax crimson, 90vmax 0vmax 10vmax 10vmax yellowgreen, 105vmax 0vmax 10vmax 10vmax orange, 120vmax 0vmax 10vmax 10vmax darkturquoise, 135vmax 0vmax 10vmax 10vmax pink, 0vmax 15vmax 10vmax 10vmax steelblue, 15vmax 15vmax 10vmax 10vmax turquoise, 30vmax 15vmax 10vmax 10vmax coral, 45vmax 15vmax 10vmax 10vmax skyblue, 60vmax 15vmax 10vmax 10vmax darkviolet, 75vmax 15vmax 10vmax 10vmax gold, 90vmax 15vmax 10vmax 10vmax purple, 105vmax 15vmax 10vmax 10vmax violet, 120vmax 15vmax 10vmax 10vmax teal, 135vmax 15vmax 10vmax 10vmax orangered, 0vmax 30vmax 10vmax 10vmax yellow, 15vmax 30vmax 10vmax 10vmax crimson, 30vmax 30vmax 10vmax 10vmax yellowgreen, 45vmax 30vmax 10vmax 10vmax orange, 60vmax 30vmax 10vmax 10vmax darkturquoise, 75vmax 30vmax 10vmax 10vmax pink, 90vmax 30vmax 10vmax 10vmax steelblue, 105vmax 30vmax 10vmax 10vmax turquoise, 120vmax 30vmax 10vmax 10vmax coral, 135vmax 30vmax 10vmax 10vmax skyblue, 0vmax 45vmax 10vmax 10vmax darkviolet, 15vmax 45vmax 10vmax 10vmax gold, 30vmax 45vmax 10vmax 10vmax darkslateblue, 45vmax 45vmax 10vmax 10vmax purple, 60vmax 45vmax 10vmax 10vmax violet, 75vmax 45vmax 10vmax 10vmax teal, 90vmax 45vmax 10vmax 10vmax orangered, 105vmax 45vmax 10vmax 10vmax yellow, 120vmax 45vmax 10vmax 10vmax crimson, 135vmax 45vmax 10vmax 10vmax yellowgreen, 0vmax 60vmax 10vmax 10vmax orange, 15vmax 60vmax 10vmax 10vmax darkturquoise, 30vmax 60vmax 10vmax 10vmax pink, 45vmax 60vmax 10vmax 10vmax steelblue, 60vmax 60vmax 10vmax 10vmax turquoise, 75vmax 60vmax 10vmax 10vmax coral, 90vmax 60vmax 10vmax 10vmax skyblue, 105vmax 60vmax 10vmax 10vmax darkviolet, 120vmax 60vmax 10vmax 10vmax gold, 135vmax 60vmax 10vmax 10vmax darkslateblue;
    -webkit-animation: shadows-cells 5s linear infinite;
    animation: shadows-cells 5s linear infinite; }
  .box-with-text:after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    display: block;
    border: 4px solid black; }

.text {
  position: relative;
  display: block;
  background: black;
  color: white;
  mix-blend-mode: darken;
	max-width: 800px;
}

@-webkit-keyframes shadows-cells {
  25% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax coral, 15vmax 0vmax 10vmax 10vmax skyblue, 30vmax 0vmax 10vmax 10vmax darkviolet, 45vmax 0vmax 10vmax 10vmax gold, 60vmax 0vmax 10vmax 10vmax purple, 75vmax 0vmax 10vmax 10vmax violet, 90vmax 0vmax 10vmax 10vmax teal, 105vmax 0vmax 10vmax 10vmax orangered, 120vmax 0vmax 10vmax 10vmax yellow, 135vmax 0vmax 10vmax 10vmax crimson, 0vmax 15vmax 10vmax 10vmax yellowgreen, 15vmax 15vmax 10vmax 10vmax orange, 30vmax 15vmax 10vmax 10vmax darkturquoise, 45vmax 15vmax 10vmax 10vmax pink, 60vmax 15vmax 10vmax 10vmax steelblue, 75vmax 15vmax 10vmax 10vmax turquoise, 90vmax 15vmax 10vmax 10vmax coral, 105vmax 15vmax 10vmax 10vmax skyblue, 120vmax 15vmax 10vmax 10vmax darkviolet, 135vmax 15vmax 10vmax 10vmax gold, 0vmax 30vmax 10vmax 10vmax darkslateblue, 15vmax 30vmax 10vmax 10vmax purple, 30vmax 30vmax 10vmax 10vmax violet, 45vmax 30vmax 10vmax 10vmax teal, 60vmax 30vmax 10vmax 10vmax orangered, 75vmax 30vmax 10vmax 10vmax yellow, 90vmax 30vmax 10vmax 10vmax crimson, 105vmax 30vmax 10vmax 10vmax yellowgreen, 120vmax 30vmax 10vmax 10vmax orange, 135vmax 30vmax 10vmax 10vmax darkturquoise, 0vmax 45vmax 10vmax 10vmax pink, 15vmax 45vmax 10vmax 10vmax steelblue, 30vmax 45vmax 10vmax 10vmax turquoise, 45vmax 45vmax 10vmax 10vmax coral, 60vmax 45vmax 10vmax 10vmax skyblue, 75vmax 45vmax 10vmax 10vmax darkviolet, 90vmax 45vmax 10vmax 10vmax gold, 105vmax 45vmax 10vmax 10vmax darkslateblue, 120vmax 45vmax 10vmax 10vmax purple, 135vmax 45vmax 10vmax 10vmax violet, 0vmax 60vmax 10vmax 10vmax teal, 15vmax 60vmax 10vmax 10vmax orangered, 30vmax 60vmax 10vmax 10vmax yellow, 45vmax 60vmax 10vmax 10vmax crimson, 60vmax 60vmax 10vmax 10vmax yellowgreen, 75vmax 60vmax 10vmax 10vmax orange, 90vmax 60vmax 10vmax 10vmax darkturquoise, 105vmax 60vmax 10vmax 10vmax pink, 120vmax 60vmax 10vmax 10vmax steelblue, 135vmax 60vmax 10vmax 10vmax turquoise;
		letter-spacing:0.2em;
	}
  45% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax yellowgreen, 15vmax 0vmax 10vmax 10vmax orange, 30vmax 0vmax 10vmax 10vmax darkturquoise, 45vmax 0vmax 10vmax 10vmax pink, 60vmax 0vmax 10vmax 10vmax steelblue, 75vmax 0vmax 10vmax 10vmax turquoise, 90vmax 0vmax 10vmax 10vmax coral, 105vmax 0vmax 10vmax 10vmax skyblue, 120vmax 0vmax 10vmax 10vmax darkviolet, 135vmax 0vmax 10vmax 10vmax gold, 0vmax 15vmax 10vmax 10vmax purple, 15vmax 15vmax 10vmax 10vmax violet, 30vmax 15vmax 10vmax 10vmax teal, 45vmax 15vmax 10vmax 10vmax orangered, 60vmax 15vmax 10vmax 10vmax yellow, 75vmax 15vmax 10vmax 10vmax crimson, 90vmax 15vmax 10vmax 10vmax yellowgreen, 105vmax 15vmax 10vmax 10vmax orange, 120vmax 15vmax 10vmax 10vmax darkturquoise, 135vmax 15vmax 10vmax 10vmax pink, 0vmax 30vmax 10vmax 10vmax steelblue, 15vmax 30vmax 10vmax 10vmax turquoise, 30vmax 30vmax 10vmax 10vmax coral, 45vmax 30vmax 10vmax 10vmax skyblue, 60vmax 30vmax 10vmax 10vmax darkviolet, 75vmax 30vmax 10vmax 10vmax gold, 90vmax 30vmax 10vmax 10vmax darkslateblue, 105vmax 30vmax 10vmax 10vmax purple, 120vmax 30vmax 10vmax 10vmax violet, 135vmax 30vmax 10vmax 10vmax teal, 0vmax 45vmax 10vmax 10vmax orangered, 15vmax 45vmax 10vmax 10vmax yellow, 30vmax 45vmax 10vmax 10vmax crimson, 45vmax 45vmax 10vmax 10vmax yellowgreen, 60vmax 45vmax 10vmax 10vmax orange, 75vmax 45vmax 10vmax 10vmax darkturquoise, 90vmax 45vmax 10vmax 10vmax pink, 105vmax 45vmax 10vmax 10vmax steelblue, 120vmax 45vmax 10vmax 10vmax turquoise, 135vmax 45vmax 10vmax 10vmax coral, 0vmax 60vmax 10vmax 10vmax skyblue, 15vmax 60vmax 10vmax 10vmax darkviolet, 30vmax 60vmax 10vmax 10vmax gold, 45vmax 60vmax 10vmax 10vmax darkslateblue, 60vmax 60vmax 10vmax 10vmax purple, 75vmax 60vmax 10vmax 10vmax violet, 90vmax 60vmax 10vmax 10vmax teal, 105vmax 60vmax 10vmax 10vmax orangered, 120vmax 60vmax 10vmax 10vmax yellow, 135vmax 60vmax 10vmax 10vmax crimson; }
  75% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax teal, 15vmax 0vmax 10vmax 10vmax orangered, 30vmax 0vmax 10vmax 10vmax yellow, 45vmax 0vmax 10vmax 10vmax crimson, 60vmax 0vmax 10vmax 10vmax yellowgreen, 75vmax 0vmax 10vmax 10vmax orange, 90vmax 0vmax 10vmax 10vmax darkturquoise, 105vmax 0vmax 10vmax 10vmax pink, 120vmax 0vmax 10vmax 10vmax steelblue, 135vmax 0vmax 10vmax 10vmax turquoise, 0vmax 15vmax 10vmax 10vmax coral, 15vmax 15vmax 10vmax 10vmax skyblue, 30vmax 15vmax 10vmax 10vmax darkviolet, 45vmax 15vmax 10vmax 10vmax gold, 60vmax 15vmax 10vmax 10vmax darkslateblue, 75vmax 15vmax 10vmax 10vmax purple, 90vmax 15vmax 10vmax 10vmax violet, 105vmax 15vmax 10vmax 10vmax teal, 120vmax 15vmax 10vmax 10vmax orangered, 135vmax 15vmax 10vmax 10vmax yellow, 0vmax 30vmax 10vmax 10vmax crimson, 15vmax 30vmax 10vmax 10vmax yellowgreen, 30vmax 30vmax 10vmax 10vmax orange, 45vmax 30vmax 10vmax 10vmax darkturquoise, 60vmax 30vmax 10vmax 10vmax pink, 75vmax 30vmax 10vmax 10vmax steelblue, 90vmax 30vmax 10vmax 10vmax turquoise, 105vmax 30vmax 10vmax 10vmax coral, 120vmax 30vmax 10vmax 10vmax skyblue, 135vmax 30vmax 10vmax 10vmax darkviolet, 0vmax 45vmax 10vmax 10vmax gold, 15vmax 45vmax 10vmax 10vmax darkslateblue, 30vmax 45vmax 10vmax 10vmax purple, 45vmax 45vmax 10vmax 10vmax violet, 60vmax 45vmax 10vmax 10vmax teal, 75vmax 45vmax 10vmax 10vmax orangered, 90vmax 45vmax 10vmax 10vmax yellow, 105vmax 45vmax 10vmax 10vmax crimson, 120vmax 45vmax 10vmax 10vmax yellowgreen, 135vmax 45vmax 10vmax 10vmax orange, 0vmax 60vmax 10vmax 10vmax darkturquoise, 15vmax 60vmax 10vmax 10vmax pink, 30vmax 60vmax 10vmax 10vmax steelblue, 45vmax 60vmax 10vmax 10vmax turquoise, 60vmax 60vmax 10vmax 10vmax coral, 75vmax 60vmax 10vmax 10vmax skyblue, 90vmax 60vmax 10vmax 10vmax darkviolet, 105vmax 60vmax 10vmax 10vmax gold, 120vmax 60vmax 10vmax 10vmax darkslateblue, 135vmax 60vmax 10vmax 10vmax purple; } }
@keyframes shadows-cells {
  25% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax coral, 15vmax 0vmax 10vmax 10vmax skyblue, 30vmax 0vmax 10vmax 10vmax darkviolet, 45vmax 0vmax 10vmax 10vmax gold, 60vmax 0vmax 10vmax 10vmax purple, 75vmax 0vmax 10vmax 10vmax violet, 90vmax 0vmax 10vmax 10vmax teal, 105vmax 0vmax 10vmax 10vmax orangered, 120vmax 0vmax 10vmax 10vmax yellow, 135vmax 0vmax 10vmax 10vmax crimson, 0vmax 15vmax 10vmax 10vmax yellowgreen, 15vmax 15vmax 10vmax 10vmax orange, 30vmax 15vmax 10vmax 10vmax darkturquoise, 45vmax 15vmax 10vmax 10vmax pink, 60vmax 15vmax 10vmax 10vmax steelblue, 75vmax 15vmax 10vmax 10vmax turquoise, 90vmax 15vmax 10vmax 10vmax coral, 105vmax 15vmax 10vmax 10vmax skyblue, 120vmax 15vmax 10vmax 10vmax darkviolet, 135vmax 15vmax 10vmax 10vmax gold, 0vmax 30vmax 10vmax 10vmax darkslateblue, 15vmax 30vmax 10vmax 10vmax purple, 30vmax 30vmax 10vmax 10vmax violet, 45vmax 30vmax 10vmax 10vmax teal, 60vmax 30vmax 10vmax 10vmax orangered, 75vmax 30vmax 10vmax 10vmax yellow, 90vmax 30vmax 10vmax 10vmax crimson, 105vmax 30vmax 10vmax 10vmax yellowgreen, 120vmax 30vmax 10vmax 10vmax orange, 135vmax 30vmax 10vmax 10vmax darkturquoise, 0vmax 45vmax 10vmax 10vmax pink, 15vmax 45vmax 10vmax 10vmax steelblue, 30vmax 45vmax 10vmax 10vmax turquoise, 45vmax 45vmax 10vmax 10vmax coral, 60vmax 45vmax 10vmax 10vmax skyblue, 75vmax 45vmax 10vmax 10vmax darkviolet, 90vmax 45vmax 10vmax 10vmax gold, 105vmax 45vmax 10vmax 10vmax darkslateblue, 120vmax 45vmax 10vmax 10vmax purple, 135vmax 45vmax 10vmax 10vmax violet, 0vmax 60vmax 10vmax 10vmax teal, 15vmax 60vmax 10vmax 10vmax orangered, 30vmax 60vmax 10vmax 10vmax yellow, 45vmax 60vmax 10vmax 10vmax crimson, 60vmax 60vmax 10vmax 10vmax yellowgreen, 75vmax 60vmax 10vmax 10vmax orange, 90vmax 60vmax 10vmax 10vmax darkturquoise, 105vmax 60vmax 10vmax 10vmax pink, 120vmax 60vmax 10vmax 10vmax steelblue, 135vmax 60vmax 10vmax 10vmax turquoise; letter-spacing: 0.2em;}

  45% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax yellowgreen, 15vmax 0vmax 10vmax 10vmax orange, 30vmax 0vmax 10vmax 10vmax darkturquoise, 45vmax 0vmax 10vmax 10vmax pink, 60vmax 0vmax 10vmax 10vmax steelblue, 75vmax 0vmax 10vmax 10vmax turquoise, 90vmax 0vmax 10vmax 10vmax coral, 105vmax 0vmax 10vmax 10vmax skyblue, 120vmax 0vmax 10vmax 10vmax darkviolet, 135vmax 0vmax 10vmax 10vmax gold, 0vmax 15vmax 10vmax 10vmax purple, 15vmax 15vmax 10vmax 10vmax violet, 30vmax 15vmax 10vmax 10vmax teal, 45vmax 15vmax 10vmax 10vmax orangered, 60vmax 15vmax 10vmax 10vmax yellow, 75vmax 15vmax 10vmax 10vmax crimson, 90vmax 15vmax 10vmax 10vmax yellowgreen, 105vmax 15vmax 10vmax 10vmax orange, 120vmax 15vmax 10vmax 10vmax darkturquoise, 135vmax 15vmax 10vmax 10vmax pink, 0vmax 30vmax 10vmax 10vmax steelblue, 15vmax 30vmax 10vmax 10vmax turquoise, 30vmax 30vmax 10vmax 10vmax coral, 45vmax 30vmax 10vmax 10vmax skyblue, 60vmax 30vmax 10vmax 10vmax darkviolet, 75vmax 30vmax 10vmax 10vmax gold, 90vmax 30vmax 10vmax 10vmax darkslateblue, 105vmax 30vmax 10vmax 10vmax purple, 120vmax 30vmax 10vmax 10vmax violet, 135vmax 30vmax 10vmax 10vmax teal, 0vmax 45vmax 10vmax 10vmax orangered, 15vmax 45vmax 10vmax 10vmax yellow, 30vmax 45vmax 10vmax 10vmax crimson, 45vmax 45vmax 10vmax 10vmax yellowgreen, 60vmax 45vmax 10vmax 10vmax orange, 75vmax 45vmax 10vmax 10vmax darkturquoise, 90vmax 45vmax 10vmax 10vmax pink, 105vmax 45vmax 10vmax 10vmax steelblue, 120vmax 45vmax 10vmax 10vmax turquoise, 135vmax 45vmax 10vmax 10vmax coral, 0vmax 60vmax 10vmax 10vmax skyblue, 15vmax 60vmax 10vmax 10vmax darkviolet, 30vmax 60vmax 10vmax 10vmax gold, 45vmax 60vmax 10vmax 10vmax darkslateblue, 60vmax 60vmax 10vmax 10vmax purple, 75vmax 60vmax 10vmax 10vmax violet, 90vmax 60vmax 10vmax 10vmax teal, 105vmax 60vmax 10vmax 10vmax orangered, 120vmax 60vmax 10vmax 10vmax yellow, 135vmax 60vmax 10vmax 10vmax crimson; }
  75% {
    box-shadow: 0vmax 0vmax 10vmax 10vmax teal, 15vmax 0vmax 10vmax 10vmax orangered, 30vmax 0vmax 10vmax 10vmax yellow, 45vmax 0vmax 10vmax 10vmax crimson, 60vmax 0vmax 10vmax 10vmax yellowgreen, 75vmax 0vmax 10vmax 10vmax orange, 90vmax 0vmax 10vmax 10vmax darkturquoise, 105vmax 0vmax 10vmax 10vmax pink, 120vmax 0vmax 10vmax 10vmax steelblue, 135vmax 0vmax 10vmax 10vmax turquoise, 0vmax 15vmax 10vmax 10vmax coral, 15vmax 15vmax 10vmax 10vmax skyblue, 30vmax 15vmax 10vmax 10vmax darkviolet, 45vmax 15vmax 10vmax 10vmax gold, 60vmax 15vmax 10vmax 10vmax darkslateblue, 75vmax 15vmax 10vmax 10vmax purple, 90vmax 15vmax 10vmax 10vmax violet, 105vmax 15vmax 10vmax 10vmax teal, 120vmax 15vmax 10vmax 10vmax orangered, 135vmax 15vmax 10vmax 10vmax yellow, 0vmax 30vmax 10vmax 10vmax crimson, 15vmax 30vmax 10vmax 10vmax yellowgreen, 30vmax 30vmax 10vmax 10vmax orange, 45vmax 30vmax 10vmax 10vmax darkturquoise, 60vmax 30vmax 10vmax 10vmax pink, 75vmax 30vmax 10vmax 10vmax steelblue, 90vmax 30vmax 10vmax 10vmax turquoise, 105vmax 30vmax 10vmax 10vmax coral, 120vmax 30vmax 10vmax 10vmax skyblue, 135vmax 30vmax 10vmax 10vmax darkviolet, 0vmax 45vmax 10vmax 10vmax gold, 15vmax 45vmax 10vmax 10vmax darkslateblue, 30vmax 45vmax 10vmax 10vmax purple, 45vmax 45vmax 10vmax 10vmax violet, 60vmax 45vmax 10vmax 10vmax teal, 75vmax 45vmax 10vmax 10vmax orangered, 90vmax 45vmax 10vmax 10vmax yellow, 105vmax 45vmax 10vmax 10vmax crimson, 120vmax 45vmax 10vmax 10vmax yellowgreen, 135vmax 45vmax 10vmax 10vmax orange, 0vmax 60vmax 10vmax 10vmax darkturquoise, 15vmax 60vmax 10vmax 10vmax pink, 30vmax 60vmax 10vmax 10vmax steelblue, 45vmax 60vmax 10vmax 10vmax turquoise, 60vmax 60vmax 10vmax 10vmax coral, 75vmax 60vmax 10vmax 10vmax skyblue, 90vmax 60vmax 10vmax 10vmax darkviolet, 105vmax 60vmax 10vmax 10vmax gold, 120vmax 60vmax 10vmax 10vmax darkslateblue, 135vmax 60vmax 10vmax 10vmax purple; letter-spacing: 0.4em;} }

/*# sourceMappingURL=style.css.map */

.qmdl-image {
  max-width:100%;
}
.grid-sizer,
.grid-item { 
  width: 32%; 
  margin-bottom: 10px;
}
.grid-item-width2 { width: 64%; }
#fh5co-testimony {
  background: #000;
}
.copy-left {
  font-size: 11px;
}
@media screen and (max-width: 768px) {
  .grid-sizer,
  .grid-item { 
    width: 100%; 
    margin-bottom: 10px;
    padding: 0 20px;
  }
  .grid-item-width2 { width: 100%; }  
}
